.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

header.header_menu {
  margin: 0;
  padding: 10px 0;
  background-color: #f0f1f1;
  font-size: 20px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}
header.header_menu a {
  margin: 0 10px;
  color: #000;
  display: inline-block;
  font-weight: bold;
}
header.header_menu a:hover {
  color: blue;
}
header.header_menu .active {
  color: blue;
  transform: scale(1.2);
}
